*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0px;
  background-color: #29418f;
}

body, p{
  font-size: 2rem;
  text-align: center;
  bottom border: 2px solid ;
  background-color: #84C373;
}
